<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Easy Azure</title>
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav>
            <a asp-controller="Home" asp-action="Index">Home</a>
            <a asp-controller="Compute" asp-action="IaaS">IaaS</a>
            <a asp-controller="Compute" asp-action="AppService">AppService</a> 
            <a asp-controller="Compute" asp-action="Functions">Functions</a> 
        </nav>
    </header>
    <main role="main">
        @RenderBody()
    </main>

    <footer>
        &copy; 2022 - Easy Azure - Pratical Examples
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
