@{
    ViewData["Title"] = "Index";
}

<h1>Easy Azure - Pratical Examples</h1>

<p>Follow along on <a href="https://blog.dgrafton.ca">Darren's blog at blog.dgrafton.ca</a>.</p>

<ol>
    <li><a asp-controller="AppService" asp-action="Index">App Service</a></li>
    <li><a asp-controller="AppService" asp-action="Index">Functions</a></li>
    <li><a asp-controller="AppService" asp-action="Index">Storage</a></li>
    <li><a asp-controller="AppService" asp-action="Index">Cosmos DB</a></li>
    <li><a asp-controller="AppService" asp-action="Index">API Management</a></li>
    <li><a asp-controller="AppService" asp-action="Index">Event Grid</a></li>
    <li><a asp-controller="AppService" asp-action="Index">Queue Storage</a></li>
    <li><a asp-controller="AppService" asp-action="Index">Application Insights</a></li>
    <li><a asp-controller="AppService" asp-action="Index">Cache for Redis</a></li>

</ol>





<ul>
   <li><a href="https://docs.microsoft.com/en-us/learn/certifications/exams/az-204">Certification Page</a></li>
   <li><a href="https://docs.microsoft.com/en-us/shows/exam-readiness-zone/?wt.mc_id=examreadiness_sg_content_wwl&terms=az-204">Exam Readiness videos from Microsoft</a></li>
   <li><a href="https://query.prod.cms.rt.microsoft.com/cms/api/am/binary/RE4oZ7B">Study Guide</a></li>
</ul>

<ol>

      <li><a asp-controller="Compute" asp-action="IaaS">IaaS</a> </li>
      <li><a asp-controller="Compute" asp-action="AppService">AppService</a> </li>
      <li><a asp-controller="Compute" asp-action="Functions">Functions</a> </li>
</ol>

