@{
    ViewData["Title"] = "App Services";
}

<h1>App Services</h1>

<section>

<h2>Settings</h2>


</section>


<section>

    <h2>Built in Identity</h2>

    <table aria-label="Identity providers" class="table">
        <thead>
            <tr>
                <th>Provider</th>
                <th>Sign-in endpoint</th>
                <th>How-To guidance</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Microsoft Identity Platform</td>
                <td><code>/.auth/login/aad</code></td>
                <td><a href="https://learn.microsoft.com/en-us/azure/app-service/configure-authentication-provider-aad" data-linktype="absolute-path">App Service Microsoft Identity Platform login</a></td>
            </tr>
            <tr>
                <td>Facebook</td>
                <td><code>/.auth/login/facebook</code></td>
                <td><a href="https://learn.microsoft.com/en-us/azure/app-service/configure-authentication-provider-facebook" data-linktype="absolute-path">App Service Facebook login</a></td>
            </tr>
            <tr>
                <td>Google</td>
                <td><code>/.auth/login/google</code></td>
                <td><a href="https://learn.microsoft.com/en-us/azure/app-service/configure-authentication-provider-google" data-linktype="absolute-path">App Service Google login</a></td>
            </tr>
            <tr>
                <td>Twitter</td>
                <td><code>/.auth/login/twitter</code></td>
                <td><a href="https://learn.microsoft.com/en-us/azure/app-service/configure-authentication-provider-twitter" data-linktype="absolute-path">App Service Twitter login</a></td>
            </tr>
        </tbody>
    </table>
</section>



<section>

    <h2>Scaling</h2>


</section>



<section>

    <h2>Deployment Slots</h2>


</section>



<section>

    <h2>Managed Identity</h2>


</section>



<section>

    <h2>Azure App Configuration</h2>


</section>