@{
    ViewData["Title"] = "IaaS";
}


<h1 class="display-4">IaaS</h1>


<h2 class="h3">Points</h2>
<ul>

  <li>Provision virtual machines (VMs)</li>        
  <li>Configure, validate, and deploy ARM templates</li>        
  <li>Configure container images for solutions</li>        
  <li>Publish an image to Azure Container Registry</li>        
  <li>Run containers by using Azure Container Instance </li>        

</ul>


<h2 class="h3">hello</h2>
<p></p>